@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.scoreBoard {
  display: flex;
  justify-content: space-evenly;
}
.playAgainBTN {
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 6px;
  background-color: #05e76b;
  color: black;
  cursor: pointer;
  font-size: xx-large;
}
body {
  padding: 0;
  background-color: #b5da71;
  margin: 0;
}
h1 {
  font-size: xx-large;
  color: #DD403A;
}
h3 {
  font-size: large;
  color: #DD403A;
}
p {
  font-size: large;
  color: #DD403A;
}
.timer {
  display: flex;
  align-items: center;
  font-size: large;
}
.hills {
  display: flex;
  flex-wrap: wrap;
  border: 10px solid #f7ea41;
}
.mole-container {
  flex: 3 33%;
  margin-bottom: 4%;
}
.highScore {
  border: 10px solid #DD403A;
  text-align: center;
}
.highScoreTable {
  text-align: center;
  border: 10px solid #f7ea41;
  width: 33%;
}
.newHighScore {
  width: 200px;
}
img {
  width: 86%;
}

@media (min-width: 600px) {
  img {
    width: 34%;
  }
  .hills {
    justify-content: space-around;
  }
}
