.App {
  text-align: center;
}
h1, h3 {
  font-size: xx-large;
  color: #DD403A;
}
p {
  font-size: large;
  color: #DD403A;
}
.scoreBoard {
  display: flex;
  justify-content: space-evenly;
  /* border: 10px solid #3e4fb1; */
}
.timer {
  display: flex;
  align-items: center;
  font-size: large;
  /* color: #DD403A; */
  /* border: 10px solid #d81d1d; */
}
.hills {
  display: flex;
  flex-wrap: wrap;
  border: 10px solid #f7ea41;
}
.highScore {
  border: 10px solid #f7ea41;
}
.mole-container {
  flex: 3 33%;
  margin-bottom: 4%;
}
img {
  width: 86%;
}


@media (min-width: 600px) {
  img {
    width: 34%;
  }
  .hills {
    justify-content: space-around;
  }
}