@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

.App {
  margin: 1px;
  padding: .4em;
  border: 10px ridge black;
  border-radius: 6px;
  text-align: center;
}

.scoreBoard {
  display: flex;
  justify-content: space-evenly;
}

.playAgainBTN {
  width: 250px;
  height: 60px;
  margin: 5px;
  border: 1px solid;
  border-radius: 6px;
  background-color: #05e76b;
  color: black;
  cursor: pointer;
  font-size: xx-large;
  text-shadow: 2px 3px 5px #DD403A;
}

#submitBTN {
  width: 250px;
  height: 60px;
  margin: 5px;
  border: 1px solid;
  border-radius: 6px;
  background-color: #0e0af0;
  color: black;
  cursor: pointer;
  font-size: xx-large;
  text-shadow: 2px 3px 5px #DD403A;
}

body {
  padding: 0;
  background-color: #b5da71;
  margin: 0;
}

h1 {
  font-size: xx-large;
  color: #DD403A;
}

h3 {
  font-size: large;
  color: #DD403A;
}

p {
  font-size: large;
  color: #DD403A;
}

td {
  color: #DD403A;
  font-weight: bold;
}

#title {
  text-shadow: 3px 3px 4px #8d018d;
}

.timer {
  display: flex;
  align-items: center;
  font-size: large;
}

.hills {
  display: flex;
  flex-wrap: wrap;
  border: 10px solid #f7ea41;
  border-radius: 6px;
}

.mole-container {
  flex: 3 33%;
  margin-bottom: 4%;
}

.highScore {
  border: 10px solid #DD403A;
  border-radius: 6px;
  padding: 5px;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.highScoreTable {
  text-align: center;
  border: 10px solid #f7ea41;
  border-radius: 6px;
  width: 44%;
}

.newHighScore {
  width: 200px;
}

img {
  width: 86%;
}

@media (min-width: 600px) {
  img {
    width: 34%;
  }

  .hills {
    justify-content: space-around;
  }
}